*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url('bekron.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: rgb(242, 236, 236);
}
nav{  
  display: flex;
}
.container{
  display: flex;
  flex-direction: column;
}
header {
  top: 0;
  width: 80%;
  border: 1px solid black;
  position: fixed;
  margin-left: 10%;
}
header{
  display: flex;
  background-color: black;   
}
a{
  text-decoration: none;
}
.kiri{
  margin-top: 13px;
  text-decoration: none;
  padding-top: 5px;
} 
.kiri li a{
  font-family: sans-serif;
  align-items: center;
}
.kanan li a{
  padding-left: 185px;
  align-items: center;
}
ul{ 
  list-style-type: none;
  display: flex;
}
li{
  margin: 10px 20px;
}
li a{
  color: gray;
  font-size: 20px;
}
li a:hover{
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.gmbr2{
  width: 30px;
  height: 30px;
}
.gmbr3{
  width: 20px;
  height: 20px;
}
.gmbr{
  width: 60px;
  height: 60px;
}
.kanan{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  padding-top: 20px;
}



.sosmed img{
  width: 25px;
  height: 20px;
}
.sosmed{
  width: 100%;
  height: 650px;
  background-color: black;
}
footer {
	background-color: #333;
	color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	text-align: center;
}
.hide {
	opacity: 0;
	transition: opacity .3s ease-in-out;
}
.sosmed p{
  font-family: sans-serif;
  padding-top: 3%;
  color: white;
}
.sosmed{
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  margin-top: 10%;
  width: 90%;
}
.sosmed ul li{
  display: flex;
}
.bagian{
  display: flex;
  padding-left: 60%;
}
.donlod{
  padding-left: 0;
}
.donlod img{
  width: 100px;
  height: 40px;
}
.sosmed hr{
  width: 80%;
  border: 1px inset gray;
}
.sosmed span{
  color: gray;
}
.tulisakhir{
  display: flex;
  width: 65%;
  line-height: 1.5;
  text-decoration: none;
  padding-bottom: 20px;
  justify-content: space-between;
}
.tulisakhir a{
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  display: flex;
}
.gbrterakhir{
  padding-left: 80%;
  margin-bottom: 20%;
}
.gbrterakhir img{
  width: 60px;
  height: 60px;
}
.scroll-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #555;
  color: blue;
  cursor: pointer;
  border-radius: 5px;
}

.scroll-btn:hover {
  background-color: blue;
}
.tabel2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .tabel1{
  text-align: center;
  margin: 0 auto;
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 10%;
}
.tbl{
  width: 90%;
  height: 70%; 

}
.akhir{
  background-color: blue;
  width: 15rem;
  height: 12rem;
  margin: 2rem;
  padding-top: 2rem; 
  padding-bot: 2rem;

 
  

}
.akhi{
  background-color: black;
  width: 15rem;
/*  height: 12rem; */
  margin: 2rem;
  padding-top: 6rem; 
  padding-bottom: 6rem;

 
}
.akh{
  background-color: palevioletred;
  width: 15rem;
  height: 12rem;
  margin: 2rem;
  padding-top: 2rem; 
  padding-bot: 2rem;

 
}
.ak{
  background-color: green;
  width: 15rem;
  height: 12rem;
  margin: 2rem;
  padding-top: 2rem; 
  padding-bot: 2rem;
 
 
}
.flex{
  display: flex;
  gap: 3rem;
  text-align: center;
  color: aliceblue;
  justify-content: center;
 
 
}