*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url('bekron.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: rgb(242, 236, 236);
}
nav{  
  display: flex;
}
header {
  top: 0;
  width: 80%;
  border: 1px solid black;
  position: fixed;
  margin-left: 10%;
}
header{
  display: flex;
  background-color: black;   
}
a{
  text-decoration: none;
}
.kiri{
  margin-top: 13px;
  text-decoration: none;
  padding-top: 5px;
} 
.kiri li a{
  font-family: sans-serif;
  align-items: center;
}
.kanan li a{
  padding-left: 185px;
  align-items: center;
}
ul{ 
  list-style-type: none;
  display: flex;
}
li{
  margin: 10px 20px;
}
li a{
  color: gray;
  font-size: 20px;
}
li a:hover{
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.gmbr2{
  width: 30px;
  height: 30px;
}
.gmbr3{
  width: 20px;
  height: 20px;
}
.gmbr{
  width: 60px;
  height: 60px;
}
.kanan{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
}

.bekron1{
  background-image: url('bekron.png');
  background-size: cover;
  
}
#tulisatas{
  text-align: center;
  margin-top: 15%;
  font-size: 10;
}
.tulis1{
  font-family: sans-serif;
  font-size: 40px;
 
}
.tulis2{
  font-family: sans-serif;
  font-size: 18px;
}
.tulis3{
  font-family: sans-serif;
  font-size: 18px;
  padding-bottom: 205px;
}
.tulisbiru{
  text-align: center;
  text-decoration: none;
  padding-bottom: 100px;
}
.tabel2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center{
  color: red;
  font-size: 13px;
  padding: 10px;

}
.tabel1 a{
  color: black;
  font-family: sans-serif;
  font-size: 20px;
}
 .tabel1{
  text-align: center;
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 10%;
}
.tbl{
  width: 100%;
  height: auto; 
}
.kucing{
  background-image: radial-gradient(farthest-side at bottom ,rgb(76, 157, 223)10%, rgb(18, 67, 174) 95%);
  width: 100%;
  height: auto;
}
.kucing{
  color: white;
  display: flex;
  flex-direction: row;
} 
.kucing2{
  font-size: 17px;
  text-align:left;
  padding-left: 150px;
  padding-top: 180px;
  padding-bottom: 180px;
  padding-right: 300px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.kucing img{
  width: 100%;
  height: 500px;
}
.kucing3{
  background-color: rgb(37, 105, 231);
  width: 100%;
  height: auto;
}
.kucing3{
  color: white;
  display: flex;
  flex-direction: row;
} 
.kucing4{
  font-size: 17px;
  text-align:left;
  padding-left: 150px;
  padding-top: 180px;
  padding-bottom: 180px;
  padding-right: 300px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.kucing3 img{
  width: 100%;
  height: 500px;
}
.gbrpalingbwh{
  width: 80%;
  height: auto;
}

.sosmed img{
  width: 25px;
  height: 20px;
}
.sosmed{
  width: 100%;
  height: 650px;
  background-color: black;
}
footer {
	background-color: #333;
	color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	text-align: center;
}
.hide {
	opacity: 0;
	transition: opacity .3s ease-in-out;
}
.sosmed p{
  font-family: sans-serif;
  padding-top: 3%;
  color: white;
}
.sosmed{
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  margin-top: 10%;
  width: 90%;
}
.sosmed ul li{
  display: flex;
}
.bagian{
  display: flex;
  padding-left: 60%;
}
.donlod{
  padding-left: 0;
}
.donlod img{
  width: 100px;
  height: 40px;
}
.sosmed hr{
  width: 80%;
  border: 1px inset gray;
}
.sosmed span{
  color: gray;
}
.tulisakhir{
  display: flex;
  width: 65%;
  line-height: 1.5;
  text-decoration: none;
  padding-bottom: 20px;
  justify-content: space-between;
}
.tulisakhir a{
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  display: flex;
}
.gbrterakhir{
  padding-left: 80%;
  margin-bottom: 20%;
}
.gbrterakhir img{
  width: 60px;
  height: 60px;
}
.scroll-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #555;
  color: blue;
  cursor: pointer;
  border-radius: 5px;
}

.scroll-btn:hover {
  background-color: blue;
}
.pemisa{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  height: auto;
}
.tlsbwh2{
  padding-left: 20%;
  margin-top: 5%;
  font-family: sans-serif;
  font-size: 20px;
}
.tlsbwh4{
  padding-left: 10%;
  margin-top: 5%;
  margin-right: 5%;
  padding-right: 10%;
  font-family: sans-serif;
  font-size: 20px;
}
.bawah{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}
.bawah2 img{
  padding-top: 19%;
  padding-left: 20%;
  padding-right: 5%;
  width: 80%;  
  height: auto;

}
.bawah3 img{
  padding-top: 14%;
  padding-right: 10%;
  padding-left: 10%;
  width: 80%;
  height: auto;
}
.bwhgbr{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
}